/*** background ***/
	body {
		background: var(--medium-gray);
		--pitch-height-modifier: 1;
		scroll-behavior: smooth;
	}

	/* divisions */
		.row {
			float: left;
			width: 100%;
			box-sizing: border-box;
		}

		.left-column {
			float: left;
			display: inline-block;
			height: 100%;
			width: var(--left-column-size);
			background: var(--dark-gray);
			padding: 0 var(--medium-gap-size) var(--medium-gap-size) var(--medium-gap-size);
			box-sizing: border-box;
		}

		.right-column {
			float: left;
			display: inline-block;
			height: 100%;
			width: calc(100% - var(--left-column-size));
			padding: 0 var(--medium-gap-size) var(--medium-gap-size) 0;
			box-sizing: border-box;
		}

/*** header ***/
	#header {
		float: left;
		width: 100%;
		height: calc(2 * (var(--medium-font-size) + 3 * var(--medium-gap-size)) + var(--medium-gap-size));
	}

	/** file **/
		#header-file {
			height: calc(var(--medium-font-size) + 4 * var(--medium-gap-size)) !important;
			padding-top: var(--medium-gap-size);
			background: var(--dark-gray);
		}

		/* self */
			#header-file-name {
				float: left;
				width: 100%;
				box-sizing: border-box;
			}

		/* credit */
			#header-file-title {
				float: left;
				padding-right: 0;
				width: calc(var(--medium-font-size) * 11);
				box-sizing: border-box;
				border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

			#header-file-by {
				display: inline-block;
				float: left;
				font-size: var(--medium-font-size);
				background: var(--light-gray);
				color: var(--dark-gray);
				user-select: none;
				pointer-events: none;
				width: var(--medium-gap-size);
				text-align: center;
				height: 100%;
				line-height: 1;
				text-transform: uppercase;
				z-index: 0;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
			}

			#header-file-composer {
				float: left;
				padding-left: 0;
				width: calc(100% - var(--medium-font-size) * 16 - 2 * var(--medium-gap-size));
				box-sizing: border-box;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

		/* download */
			#header-file-download {
				float: right;
				background: var(--medium-blue);
				padding: var(--medium-gap-size) 0;
				margin: 0 0 0 var(--medium-gap-size);
				width: calc(var(--medium-font-size) * 5);
				box-sizing: border-box;
				vertical-align: top;
			}

	/** playback **/
		#header-playback {
			background: var(--dark-gray);
			height: calc(var(--medium-font-size) + 3 * var(--medium-gap-size));
		}

		/* swing */
			#header-playback-swing-outer {
				width: 100%;
				padding: 0;
			}

			#header-playback-swing {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
				-webkit-appearance: none;
			}

			#header-playback-swing-outer div {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				background: var(--medium-gray);
				color: var(--dark-gray);
				border-radius: var(--border-radius);
				transition: var(--transition-time);
			}

			#header-playback-swing:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* measures */
			#header-playback-measures-outer {
				float: left;
				display: inline-block;
				width: calc(var(--medium-font-size) * 11);
				height: 100%;
				margin-right: var(--medium-gap-size);
			}

			#header-playback-measures-m {
				float: left;
				display: inline-block;
				background: var(--light-gray);
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				height: 100%;
				width: var(--medium-font-size);
				padding: var(--medium-gap-size) 0;
				line-height: 1;
				text-align: center;
				user-select: none;
				box-sizing: border-box;
			}

			#header-playback-measures-current {
				float: left;
				display: inline-block;
				border-radius: 0;
				text-align: right !important;
				width: calc(var(--medium-font-size) * 4);
				padding-right: 0;
			}

			#header-playback-measures-slash {
				float: left;
				display: inline-block;
				background: var(--light-gray);
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: 0;
				height: 100%;
				width: var(--medium-font-size);
				padding: var(--medium-gap-size) 0;
				line-height: 1;
				text-align: center;
				user-select: none;
				box-sizing: border-box;
			}

			#header-playback-measures-total {
				float: left;
				display: inline-block;
				background: var(--light-gray);
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: 0;
				height: 100%;
				width: calc(var(--medium-font-size) * 3);
				padding: var(--medium-gap-size) var(--medium-gap-size) var(--medium-gap-size) 0;
				line-height: 1;
				text-align: center;
				box-sizing: border-box;
			}

		/* loop */
			#header-playback-loop-outer {
				height: 100%;
				width: calc(var(--medium-font-size) * 2);
				padding: 0;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

			#header-playback-loop {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-playback-loop-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				transition: var(--transition-time);
				font-size: var(--small-font-size);
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				line-height: 1;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
			}

			#header-playback-loop:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* metronome */
			#header-playback-controls-outer {
				float: left;
				display: inline-block;
				width: calc(var(--medium-font-size) * 11);
				height: 100%;
			}

			#header-playback-metronome-outer {
				float: left;
				display: inline-block;
				height: 100%;
				width: calc(var(--medium-font-size) * 2);
				padding: 0;
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				box-sizing: border-box;
			}

			#header-playback-metronome {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-playback-metronome-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				transition: var(--transition-time);
				font-size: var(--small-font-size);
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
			}

			#header-playback-metronome:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

			#header-playback-metronome-shape {
				line-height: 1.3;
			}

			#header-playback-metronome-pendulum {
				height: 0;
				width: 0;
				transform: translateY(-100%);
				background: transparent !important;
			}

		/* tempo multiplier */
			#header-playback-tempo-multiplier {
				float: left;
				display: inline-block;
				border-radius: 0;
				text-align: right !important;
				width: calc(var(--medium-font-size) * 4);
				padding-right: 0;
			}

			#header-playback-tempo-multiplier-x {
				float: left;
				display: inline-block;
				background: var(--light-gray);
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: 0;
				height: 100%;
				width: var(--medium-font-size);
				padding: var(--medium-gap-size) 0;
				line-height: 1.3;
				text-align: center;
				user-select: none;
				box-sizing: border-box;
			}

		/* play */
			#header-playback-play-outer {
				height: 100%;
				width: calc(var(--medium-font-size) * 4);
				padding: 0;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				box-sizing: border-box;
			}

			#header-playback-play {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-playback-play-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				transition: var(--transition-time);
				font-size: var(--medium-font-size);
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				padding: var(--medium-gap-size) 0;
				box-sizing: border-box;
			}

			#header-playback-play:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* upload */
			#header-playback-upload-synth-outer {
				float: right;
				height: 100%;
				background: var(--medium-blue);
				padding: 0;
				width: calc(var(--medium-font-size) * 5);
				box-sizing: border-box;
				vertical-align: top;
				margin-left: var(--medium-gap-size);
			}

			#header-playback-upload-synth-outer div {
				width: 100%;
				height: 100%;
				transition: var(--transition-time);
				font-size: var(--medium-font-size);
				border-radius: var(--border-radius);
				padding: var(--medium-gap-size) 0;
				box-sizing: border-box;
			}

			#header-playback-upload-synth-input {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
			}

/*** content ***/
	#content-outer {
		float: left;
		width: 100vw;
		height: calc(100vh - (2 * (var(--medium-font-size) + 3 * var(--medium-gap-size)) + var(--medium-gap-size)));
		overflow-x: scroll;
		overflow-y: scroll;
	}

	#content {
		float: left;
		width: 100%;
		height: 100%;
		font-size: 0;
		border-spacing: 0;
		white-space: nowrap;
		table-layout: fixed;
		margin: 0;
		border: none;
	}

	#content-background {
		position: fixed;
		bottom: 0;
		left: var(--left-column-size);
		width: calc(100vw - var(--left-column-size));
		height: calc(100vh - (2 * (var(--medium-font-size) + 3 * var(--medium-gap-size)) + var(--medium-gap-size)));
		user-select: none;
		pointer-events: none;
		background-color: transparent;
		background-image: url(banner.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.1;
		filter: blur(var(--blur-size));
	}

	/** measures **/
		#content-measures-outer {
			width: 100%;
			height: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size));
		}

		/* left */
			#content-measures-text {
				margin: 0;
				width: var(--left-column-size);
				height: 100%;
				background: var(--dark-gray);
				box-sizing: border-box;
				padding: 0 var(--medium-gap-size);
				border-bottom: var(--border-size) solid var(--light-gray);
				overflow: hidden;
				position: sticky;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.measures-text {
				width: 100%;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				text-align: right;
				background: var(--dark-gray);
				color: var(--medium-gray);
				font-size: var(--medium-font-size);
				box-sizing: border-box;
				line-height: 1;
				vertical-align: top;
				user-select: none;
				text-transform: uppercase;
				padding: var(--medium-gap-size) 0;
			}

		/* right */
			.music-measure {
				height: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size));
				box-sizing: border-box;
				transition: var(--transition-time);
				padding: 0;
				border-left: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--dark-gray);
				position: sticky;
				top: 0;
				z-index: 1;
				scroll-margin-left: var(--left-column-size);
			}

			.music-measure-insert {
				float: left;
				display: inline-block;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				width: var(--medium-font-size);
				font-size: var(--medium-font-size);
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				vertical-align: middle;
				line-height: 1;
				background-color: var(--medium-blue);
				border-radius: 0;
			}

			.music-measure-number {
				float: left;
				display: inline-block;
				width: calc(100% - 2 * var(--medium-font-size));
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				padding: var(--medium-gap-size) 0;
				background: var(--medium-gray);
				color: var(--light-gray);
				font-size: var(--medium-font-size);
				line-height: 1;
				box-sizing: border-box;
				text-align: center;
				border-radius: 0;
			}

			.music-measure-delete {
				float: left;
				display: inline-block;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				width: var(--medium-font-size);
				font-size: var(--medium-font-size);
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				vertical-align: middle;
				line-height: 1;
				background-color: var(--medium-red);
				border-radius: 0;
			}

			.music-measure-beats {
				float: left;
				display: block;
				width: 100%;
				padding: var(--medium-gap-size) 0;
				border-radius: 0;
			}

			.music-measure-tempo {
				float: left;
				display: block;
				width: 100%;
				padding: var(--medium-gap-size) 0;
				border-radius: 0;
			}

			.music-measure-tempo[value-present="false"]:not(:focus) {
				color: transparent;
			}

			.music-measure-beats::-webkit-inner-spin-button,
			.music-measure-beats::-webkit-outer-spin-button,
			.music-measure-tempo::-webkit-inner-spin-button, 
			.music-measure-tempo::-webkit-outer-spin-button { 
				-webkit-appearance: none; 
				margin: 0; 
			}

		/* after */
			#content-measures-spacer {
				position: sticky;
				top: 0;
				z-index: 1;
				height: 100%;
				width: auto;
				padding: 0;
				background: var(--medium-gray);
				border-bottom: var(--border-size) solid var(--dark-gray);
			}

			#content-measures-add-outer {
				position: sticky;
				top: 0;
				z-index: 1;
				margin: 0;
				border-bottom: var(--border-size) solid var(--light-gray);
				width: calc(var(--large-font-size) + 2 * var(--medium-gap-size));
				height: 100%;
				background: var(--dark-gray);
				padding: calc(((3 * (var(--medium-font-size) + 2 * var(--medium-gap-size))) - var(--large-font-size)) / 2) var(--medium-gap-size);
				overflow: hidden;
			}

			#content-measures-add {
				display: inline-block;
				height: var(--large-font-size);
				width: var(--large-font-size);
				font-size: var(--medium-font-size);
				color: var(--light-gray);
				background: var(--medium-blue);
				padding: 0;
				box-sizing: border-box;
				vertical-align: top;
				line-height: 1;
			}

	/*** content ***/
		#content-parts {
			width: 100%;
			height: auto;
		}

		.part-row {
			width: 100%;
			background: repeating-linear-gradient(180deg, var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 0), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 1), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 1), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 2),
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 2), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 3), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 3), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 4), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 4), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 5), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 5), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 6), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 6), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 7), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 7), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 8), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 8), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 9), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 9), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 10), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 10), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 11), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 11), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 12) 
													);
		}

		/* individual - left */
			.part-info {
				width: var(--left-column-size);
				height: calc(var(--pitch-height) * var(--pitch-count) * var(--pitch-height-modifier) + var(--medium-font-size) + 2 * var(--medium-gap-size) + 2 * var(--border-size));
				padding: var(--medium-gap-size) 0;
				border-top: var(--border-size) solid var(--light-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
				box-sizing: border-box;
				background: var(--dark-gray);
				vertical-align: top;
				transition: var(--transition-time);
				position: sticky;
				left: 0;
				z-index: 1;
			}

			.part-info-inner {
				position: sticky;
				top: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size) + var(--medium-gap-size));
			}

			.part-info-label {
				float: left;
				width: 100%;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				box-sizing: border-box;
				padding: 0;
			}

			.part-info-label span {
				float: left;
				display: inline-block;
				height: 100%;
				width: calc(2.5 * var(--medium-font-size));
				font-size: var(--small-font-size);
				color: var(--dark-gray);
				background: var(--medium-gray);
				border-radius: 0;
				text-align: center;
				text-transform: uppercase;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				user-select: none;
			}

			/* edit */
				.part-info-edit-outer {
					width: 100%;
					padding: 0 var(--medium-gap-size);
					box-sizing: border-box;
				}

				.part-info-edit {
					min-width: 0 !important;
					height: 0 !important;
					width: 0 !important;
					font-size: 0 !important;
					margin: 0 !important;
					padding: 0 !important;
					opacity: 0 !important;
					border: 0 !important;
					outline: 0 !important;
					display: inline;
					-webkit-appearance: none;
				}

				.part-info-edit-outer div {
					width: 100%;
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					box-sizing: border-box;
					padding: var(--medium-gap-size) 0;
					background: var(--medium-gray);
					font-size: var(--medium-font-size);
					font-family: var(--font-0);
					color: var(--dark-gray);
					border-radius: var(--border-radius) var(--border-radius) 0 0;
					transition: var(--transition-time);
				}

				.part-info-edit-text {
					text-transform: uppercase;
					cursor: pointer;
				}

				.part-info-edit:checked ~ .part-info-edit-text {
					background: var(--medium-blue);
					color: var(--light-gray);
				}

				.part-info-edit:focus ~ .part-info-edit-text {
					box-shadow: 0 0 0 var(--border-size) var(--light-blue);
				}

				.part-info-editor {
					line-height: 1;
					cursor: not-allowed;
				}

				.part-info-editor:empty {
					display: none;
				}

				.part-info-editor:not(:empty) ~ .part-info-edit-text {
					display: none;
				}

			/* delete */
				.part-info-edit:not(:checked) ~ .part-info-edit-delete {
					pointer-events: none;
					height: 0;
					font-size: 0;
					box-shadow: none !important;
				}

				.part-info-edit-delete {
					user-select: none;
					float: left;
					width: 100%;
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					background: var(--medium-red);
					padding: 0;
					border-radius: 0;
				}

			/* other info */
				.part-info-edit:not(:checked) ~ .part-info-label {
					cursor: not-allowed !important;
				}

				.part-info-name {
					padding: 0 var(--medium-gap-size);
					font-size: var(--medium-font-size);
					width: calc(100% - 2.5 * var(--medium-font-size));
					border-radius: 0;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-name {
					background: var(--medium-gray);
					pointer-events: none;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-name:focus, .part-info-edit:not(:checked) ~ .part-info-label .part-info-name:hover {
					filter: none;
					box-shadow: none !important;
					user-select: none;
				}

				.part-info-instrument {
					font-size: var(--medium-font-size);
					width: calc(100% - 2.5 * var(--medium-font-size));
					text-align: center;
					border-radius: 0;
					text-transform: uppercase;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-instrument:focus, .part-info-edit:not(:checked) ~ .part-info-label .part-info-instrument:hover {
					filter: none;
					box-shadow: none !important;
					user-select: none;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-instrument {
					background: var(--medium-gray);
					pointer-events: none;
				}

				.part-info-synth {
					font-size: var(--medium-font-size);
					width: calc(100% - 2.5 * var(--medium-font-size));
					text-align: center;
					border-radius: 0;
					text-transform: uppercase;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-synth:focus, .part-info-edit:not(:checked) ~ .part-info-label .part-info-synth:hover {
					filter: none;
					box-shadow: none !important;
					user-select: none;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-synth {
					background: var(--medium-gray);
					pointer-events: none;
				}

			/* order */
				.part-info-order-label {
					float: left;
					width: 100%;
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					box-sizing: border-box;
					padding: 0 var(--medium-gap-size);
				}

				.part-info-order-label span {
					float: left;
					display: inline-block;
					height: 100%;
					width: calc(2.5 * var(--medium-font-size));
					font-size: var(--small-font-size);
					color: var(--dark-gray);
					background: var(--medium-gray);
					border-radius: 0;
					text-align: center;
					text-transform: uppercase;
					box-sizing: border-box;
					padding: var(--medium-gap-size) 0;
					user-select: none;
				}

				.part-info-order-up, .part-info-order-down {
					background-color: var(--medium-blue);
					width: calc((100% - (2.5 * var(--medium-font-size))) / 2);
					border-radius: 0;
				}

				.part-row:first-child .part-info-order-up {
					cursor: not-allowed;
					pointer-events: none !important;
					background: var(--medium-gray);
				}

				.part-row:nth-last-child(3) .part-info-order-down {
					cursor: not-allowed;
					pointer-events: none !important;
					background: var(--medium-gray);
				}

			/* volume */
				.part-info-volume-label {
					padding: 0 var(--medium-gap-size);
				}

				.part-info-volume-label span {
					font-size: var(--small-font-size);
					padding-top: var(--border-size);
					box-sizing: border-box;
					border-radius: 0 0 0 var(--border-radius);
				}

				.part-info-volume {
					float: left;
					display: inline-block;
					margin: 0;
					padding: 0;
					width: calc(100% - 2.5 * var(--medium-font-size));
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					border-radius: 0 0 var(--border-radius) 0;
					cursor: pointer;
				}

		/* individual - right */	
			.part-row:not([locked="self"]) .part-measure {
				cursor: not-allowed;
			}

			.part-row[locked="self"] {
				--pitch-height-modifier: 5;
			}

			.part-measure {
				height: calc(var(--pitch-height) * var(--pitch-count) * var(--pitch-height-modifier) + var(--medium-font-size) + 2 * var(--medium-gap-size) + 2 * var(--border-size));
				border-top: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--dark-gray);
				box-sizing: border-box;
				transition: var(--transition-time);
				font-size: var(--small-font-size);
				color: white;
				vertical-align: top;
				padding: 0;
				scroll-margin-left: var(--left-column-size);
				scroll-margin-top: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size));
			}

			.part-measure:last-child {
				border-right: var(--border-size) solid var(--dark-gray);
			}

			.part-measure-notes {
				float: left;
				position: relative;
				left: 0;
				top: 0;
				width: 100%;
				height: calc(var(--pitch-height) * var(--pitch-count) * var(--pitch-height-modifier));
				transition: var(--transition-time);
				vertical-align: top;
				background: repeating-linear-gradient(90deg, var(--dark-gray) 0, var(--dark-gray) var(--border-size),
															transparent var(--border-size), transparent calc(var(--tick-width) * 24)
														),
							repeating-linear-gradient(90deg, var(--light-gray) 0, var(--light-gray) var(--border-size),
															transparent var(--border-size), transparent calc(var(--tick-width) * 6)
														);
			}

			.part-row:not([locked="self"]) .part-measure-notes {
				pointer-events: none;
			}

			.part-measure-dynamics {
				float: left;
				width: 100%;
				border-radius: 0;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				padding: var(--medium-gap-size) var(--small-gap-size);
				text-align: left;
				text-transform: uppercase;
			}

			.part-row:not([locked="self"]) .part-measure-dynamics {
				background: var(--medium-gray);
				pointer-events: none;
			}

			.part-measure-dynamics[value-present="false"]:not(:focus) {
				color: transparent;
			}

			.part-measure-note {
				position: absolute;
				background: var(--dark-gray);
				width: calc(var(--tick-width) * 6);
				height: calc(var(--pitch-height) * var(--pitch-height-modifier));
				border-radius: var(--border-radius);
				cursor: grab;
				transition: var(--transition-time);
				overflow: hidden;
				user-select: none;
				padding: 0;
				font-size: 0;
			}

			button.part-measure-note:focus, button.part-measure-note:hover {
				box-shadow: none;
				filter: none;
			}

			.part-measure-note[selected] {
				transition: 0s !important;
				cursor: grabbing;
				box-shadow: 0 0 0 var(--border-size) var(--light-blue) !important;
			}

			.part-measure-note-text {
				float: left;
				width: calc(100% - var(--small-gap-size));
				height: 100%;
				padding: 0 0 0 calc(var(--pitch-height-modifier) * 1px);
				color: var(--dark-gray);
				font-size: calc(var(--pitch-height) * var(--pitch-height-modifier));
				text-align: left;
				line-height: 1;
				box-sizing: border-box;
			}

			.part-measure-note-end {
				float: left;
				width: var(--small-gap-size);
				height: 100%;
				background: var(--dark-gray);
				opacity: 0.5;
				cursor: pointer;
			}

			.part-measure-note:focus, .part-measure-note:hover {
				box-shadow: 0 0 0 var(--border-size) var(--lightblue);
			}

		/* individual - after */
			.part-spacer {
				width: auto;
				background: var(--medium-gray);
				padding: 0;
				border-top: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--dark-gray);
			}

			.part-after {
				width: auto;
				background: var(--dark-gray);
				padding: 0;
				border-top: var(--border-size) solid var(--light-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
			}

		/* below */
			#content-parts-spacer {
				width: 100%;
				padding: 0;
				border-bottom: var(--border-size) solid var(--light-gray);
			}

			#content-parts-spacer th {
				width: 100%;
				height: 100%;
				position: sticky;
				left: 0;
				z-index: 2;
				background: var(--dark-gray);
			}

			#content-parts-add-row {
				width: 100%;
				height: calc(var(--medium-font-size) + 4 * var(--medium-gap-size));
				padding: 0;
			}

			#content-parts-add-outer {
				width: var(--left-column-size);
				padding: var(--medium-gap-size);
				background: var(--dark-gray);
				position: sticky;
				left: 0;
				z-index: 2;
			}

			#content-parts-add {
				height: 100%;
				width: 100%;
				background: var(--medium-blue);
			}
