/*** background ***/
	body {
		background: var(--medium-gray);
		--pitch-height-modifier: 1;
		scroll-behavior: smooth;
	}

	/* divisions */
		.row {
			float: left;
			width: 100%;
			box-sizing: border-box;
		}

		.left-column {
			float: left;
			display: inline-block;
			height: 100%;
			width: var(--left-column-size);
			background: var(--dark-gray);
			padding: 0 var(--medium-gap-size) var(--medium-gap-size) var(--medium-gap-size);
			box-sizing: border-box;
		}

		.right-column {
			float: left;
			display: inline-block;
			height: 100%;
			width: calc(100% - var(--left-column-size));
			padding: 0 var(--medium-gap-size) var(--medium-gap-size) 0;
			box-sizing: border-box;
			white-space: nowrap;
			word-break: break-all;
		}

/*** header ***/
	#header {
		float: left;
		width: 100%;
		height: calc(var(--medium-font-size) + 3 * var(--medium-gap-size) + var(--medium-gap-size));
	}

	/** collapse **/
		#header-sidebar-collapse {
			height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			background: var(--medium-blue);
			color: var(--light-gray);
			font-size: var(--medium-font-size);
			text-align: center;
			display: inline-block;
			margin-right: var(--medium-gap-size);
		}

	/** playback **/
		/* sidebar */
			#header-sidebar-collapse-outer {
				display: inline-block;
				height: 100%;
				width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				margin-right: var(--medium-gap-size);
				padding: 0;
				border-radius: 100%;
				box-sizing: border-box;
			}

			#header-sidebar-collapse {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-sidebar-collapse-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				transition: var(--transition-time);
				font-size: var(--medium-font-size);
				border-radius: 100%;
				padding: var(--medium-gap-size) 0;
				box-sizing: border-box;
				text-align: center;
			}

			#header-sidebar-collapse:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* play */
			#header-playback-controls {
				width: calc(100% - var(--medium-font-size) - 3 * var(--medium-gap-size));
				display: inline-block;
				height: 100%;
			}
			
			#header-playback-play-outer {
				height: 100%;
				width: calc(100% - 2 * var(--medium-font-size) - 4 * var(--medium-gap-size));
				padding: 0;
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				box-sizing: border-box;
			}

			#header-playback-play {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-playback-play-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				transition: var(--transition-time);
				font-size: var(--medium-font-size);
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				padding: var(--medium-gap-size) 0;
				box-sizing: border-box;
				text-align: center;
			}

			#header-playback-play:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* record */
			#header-playback-record-outer {
				height: 100%;
				width: calc(var(--medium-font-size) * 2);
				padding: 0;
				border-radius: 0;
				box-sizing: border-box;
			}

			#header-playback-record {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-playback-record-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				transition: var(--transition-time);
				font-size: var(--large-font-size);
				border-radius: 0;
				padding: 0;
				box-sizing: border-box;
			}

			#header-playback-record:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* loop */
			#header-playback-loop-outer {
				height: 100%;
				width: calc(var(--medium-font-size) * 2);
				padding: 0;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

			#header-playback-loop {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#header-playback-loop-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				transition: var(--transition-time);
				font-size: var(--medium-font-size);
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				line-height: 1;
				vertical-align: top;
				box-sizing: border-box;
				padding: calc(var(--medium-gap-size) - var(--border-size)) 0;
			}

			#header-playback-loop:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

	/** file **/
		#header-file {
			height: calc(var(--medium-font-size) + 4 * var(--medium-gap-size)) !important;
			padding-top: var(--medium-gap-size);
			background: var(--dark-gray);
		}

		/* credit */
			#header-file-title {
				display: inline-block;
				padding-right: 0;
				width: calc(var(--medium-font-size) * 10);
				box-sizing: border-box;
				border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

			#header-file-by {
				display: inline-block;
				font-size: var(--medium-font-size);
				background: var(--light-gray);
				color: var(--dark-gray);
				user-select: none;
				pointer-events: none;
				width: var(--medium-gap-size);
				text-align: center;
				height: 100%;
				line-height: 1;
				text-transform: uppercase;
				z-index: 0;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
			}

			#header-file-composer {
				display: inline-block;
				padding-left: 0;
				width: calc(100% - var(--medium-font-size) * 19 - 4 * var(--medium-gap-size));
				box-sizing: border-box;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

		/* download */
			#header-file-download {
				display: inline-block;
				background: var(--medium-blue);
				padding: var(--medium-gap-size) 0;
				margin: 0 0 0 var(--medium-gap-size);
				width: calc(var(--medium-font-size) * 5);
				box-sizing: border-box;
				vertical-align: top;
				border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

		/* upload */
			#header-file-upload-synth-outer {
				display: inline-block;
				height: 100%;
				background: var(--medium-blue);
				padding: 0;
				width: calc(var(--medium-font-size) * 5);
				box-sizing: border-box;
				vertical-align: top;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

			#header-file-upload-synth-outer div {
				width: 100%;
				height: 100%;
				transition: var(--transition-time);
				font-size: var(--medium-font-size);
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				padding: var(--medium-gap-size) 0;
				box-sizing: border-box;
			}

			#header-file-upload-synth-input {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
			}

/*** content ***/
	#content-outer {
		float: left;
		width: 100vw;
		height: calc(100vh - (var(--medium-font-size) + 3 * var(--medium-gap-size) + var(--medium-gap-size)));
		overflow-x: scroll;
		overflow-y: scroll;
		transition: var(--transition-time);
	}

	#content-outer[collapsed] {
		transform: translateX(calc(-1 * var(--left-column-size)));
		width: calc(100% + var(--left-column-size));
	}

	#content {
		float: left;
		width: 100%;
		height: 100%;
		font-size: 0;
		border-spacing: 0;
		white-space: nowrap;
		table-layout: fixed;
		margin: 0;
		border: none;
	}

	/** background **/
		#content-background {
			position: fixed;
			bottom: 0;
			left: var(--left-column-size);
			width: calc(100vw - var(--left-column-size) - (var(--medium-font-size) + 4 * var(--medium-gap-size)));
			height: calc(100vh - (var(--medium-font-size) + 3 * var(--medium-gap-size) + var(--medium-gap-size)));
			user-select: none;
			pointer-events: none;
			background-color: transparent;
			background-image: url(banner.png);
			background-size: 50%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.1;
			filter: blur(var(--blur-size));
		}

		#content-outer[collapsed] #content-background {
			width: calc(100vw - (var(--medium-font-size) + 4 * var(--medium-gap-size)));
		}

	/** measures **/
		#content-measures-outer {
			width: 100%;
			height: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size) + var(--medium-gap-size));
			z-index: 3;
		}

		/* left */
			#content-measures-text {
				margin: 0;
				width: var(--left-column-size);
				height: 100%;
				background: var(--dark-gray);
				box-sizing: border-box;
				padding: 0 var(--medium-gap-size) var(--medium-gap-size) var(--medium-gap-size);
				border-bottom: var(--border-size) solid var(--light-gray);
				overflow: hidden;
				position: sticky;
				top: 0;
				left: 0;
				z-index: 4;
			}

			.measures-text {
				width: 100%;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				background: var(--dark-gray);
				box-sizing: border-box;
				line-height: 1;
				vertical-align: middle;
				user-select: none;
				text-transform: uppercase;
			}

			.measures-text span {
				font-size: var(--small-font-size);
				display: inline-block;
				width: calc(var(--medium-font-size) * 2.5);
				padding: var(--medium-gap-size) 0;
				height: 100%;
				text-align: center;
				background-color: var(--medium-gray);
				color: var(--dark-gray);
				box-sizing: border-box;
				line-height: 1.5;
			}

			.measures-text:first-child span:first-child {
				border-radius: var(--border-radius) 0 0 0;
			}

			.measures-text:last-child span:first-child {
				border-radius: 0 0 0 var(--border-radius);
			}

		/* measures */
			#content-measures-position-outer {
				display: inline-block;
				width: calc(100% - var(--medium-font-size) * 2.5);
				height: 100%;
				vertical-align: top;
			}

			#content-measures-position-current {
				float: left;
				display: inline-block;
				border-radius: 0;
				text-align: right !important;
				width: calc(100% - var(--medium-font-size) * 2.5);
				padding-right: 0;
			}

			#content-measures-position-current:focus ~ #content-measures-position-slash, #content-measures-position-current:hover ~ #content-measures-position-slash {
				opacity: 0;
			}

			#content-measures-position-slash {
				float: left;
				display: inline-block;
				background: transparent;
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: 0;
				height: 100%;
				width: calc(var(--medium-font-size) / 2);
				margin-left: calc(-1 * var(--medium-font-size) / 2);
				padding: var(--medium-gap-size) 0;
				line-height: 1;
				text-align: center;
				user-select: none;
				box-sizing: border-box;
				pointer-events: none;
			}

			#content-measures-position-total {
				float: left;
				display: inline-block;
				background: var(--light-gray);
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: 0;
				height: 100%;
				width: calc(var(--medium-font-size) * 2.5);
				padding: var(--medium-gap-size) var(--medium-gap-size) var(--medium-gap-size) 0;
				line-height: 1;
				text-align: center;
				box-sizing: border-box;
			}

		/* swing */
			#content-measures-swing-outer {
				display: inline-block;
				width: calc(100% - var(--medium-font-size) * 2.5);
				padding: 0;
				border-radius: 0;
			}

			#content-measures-swing {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
				-webkit-appearance: none;
			}

			#content-measures-swing-outer div {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				background: var(--medium-gray);
				color: var(--dark-gray);
				border-radius: 0;
				transition: var(--transition-time);
			}

			#content-measures-swing:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

		/* metronome */
			#content-measures-metronome-outer {
				display: inline-block;
				height: 100%;
				width: calc(var(--medium-font-size) * 2);
				padding: 0;
				border-radius: 0;
				box-sizing: border-box;
			}

			#content-measures-metronome {
				min-width: 0 !important;
				height: 0 !important;
				width: 0 !important;
				font-size: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				opacity: 0 !important;
				border: 0 !important;
				outline: 0 !important;
				display: inline;
			}

			#content-measures-metronome-outer div {
				width: 100%;
				height: 100%;
				background: var(--medium-gray);
				color: var(--dark-gray);
				border-radius: 0;
				transition: var(--transition-time);
				font-size: var(--small-font-size);
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
			}

			#content-measures-metronome:checked ~ div {
				background: var(--medium-blue);
				color: var(--light-gray);
			}

			#content-measures-metronome-shape {
				line-height: 1.3;
			}

			#content-measures-metronome-pendulum {
				height: 0;
				width: 0;
				transform: translateY(-100%);
				background: transparent !important;
			}

		/* tempo multiplier */
			#content-measures-tempo-multiplier {
				display: inline-block;
				border-radius: 0;
				text-align: right !important;
				width: calc(100% - var(--medium-font-size) * 2.5 - var(--medium-font-size) * 2);
				padding-right: 0;
			}

			#content-measures-tempo-multiplier:focus ~ #content-measures-tempo-multiplier-x, #content-measures-tempo-multiplier:hover ~ #content-measures-tempo-multiplier-x {
				opacity: 0;
			}

			#content-measures-tempo-multiplier-x {
				display: inline-block;
				background: transparent;
				color: var(--dark-gray);
				font-size: var(--medium-font-size);
				border-radius: 0;
				height: 100%;
				vertical-align: top;
				width: var(--medium-font-size);
				margin-left: calc(-1 * var(--medium-font-size));
				pointer-events: none;
				padding: var(--medium-gap-size) 0;
				text-align: center;
				user-select: none;
				box-sizing: border-box;
			}

		/* right */
			.music-measure {
				height: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size));
				box-sizing: border-box;
				transition: var(--transition-time);
				padding: 0 0 var(--medium-gap-size) 0;
				border-left: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
				background: var(--dark-gray);
				position: sticky;
				top: 0;
				z-index: 3;
				scroll-margin-left: var(--left-column-size);
			}

			.music-measure-insert {
				float: left;
				display: inline-block;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				width: var(--medium-font-size);
				font-size: var(--medium-font-size);
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				vertical-align: middle;
				line-height: 1;
				background-color: var(--medium-blue);
				border-radius: 0;
			}

			.music-measure-number {
				float: left;
				display: inline-block;
				width: calc(100% - 2 * var(--medium-font-size));
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				padding: var(--medium-gap-size) 0;
				background: var(--medium-gray);
				color: var(--light-gray);
				font-size: var(--medium-font-size);
				line-height: 1;
				box-sizing: border-box;
				text-align: center;
				border-radius: 0;
			}

			.music-measure-delete {
				float: left;
				display: inline-block;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				width: var(--medium-font-size);
				font-size: var(--medium-font-size);
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				vertical-align: middle;
				line-height: 1;
				background-color: var(--medium-red);
				border-radius: 0;
			}

			.music-measure-beats {
				float: left;
				display: block;
				width: 100%;
				padding: var(--medium-gap-size) 0;
				border-radius: 0;
			}

			.music-measure-tempo {
				float: left;
				display: block;
				width: 100%;
				padding: var(--medium-gap-size) 0;
				border-radius: 0;
			}

			.music-measure-tempo[value-present="false"]:not(:focus) {
				color: transparent;
			}

			.music-measure-beats::-webkit-inner-spin-button,
			.music-measure-beats::-webkit-outer-spin-button,
			.music-measure-tempo::-webkit-inner-spin-button, 
			.music-measure-tempo::-webkit-outer-spin-button { 
				-webkit-appearance: none; 
				margin: 0; 
			}

		/* after */
			#content-measures-spacer {
				position: sticky;
				top: 0;
				z-index: 3;
				height: 100%;
				width: auto;
				padding: 0;
				background: var(--medium-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
				transition: var(--transition-time);
			}

			#content-outer[playing] #content-measures-spacer {
				width: calc(100vw - var(--left-column-size) - (var(--large-font-size) + 2 * var(--medium-gap-size)));
			}

			#content-measures-add-outer {
				position: sticky;
				top: 0;
				z-index: 3;
				margin: 0;
				border-bottom: var(--border-size) solid var(--light-gray);
				width: calc(var(--medium-font-size) + 4 * var(--medium-gap-size));
				height: 100%;
				background: var(--dark-gray);
				padding: calc(((3 * (var(--medium-font-size) + 2 * var(--medium-gap-size))) - (var(--medium-font-size) + 2 * var(--medium-gap-size))) / 2) var(--medium-gap-size);
				box-sizing: border-box;
				overflow: hidden;
			}

			#content-measures-add {
				display: inline-block;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				font-size: var(--medium-font-size);
				color: var(--light-gray);
				background: var(--medium-blue);
				padding: 0;
				box-sizing: border-box;
				vertical-align: top;
				line-height: 1;
			}

	/*** content ***/
		#content-parts {
			width: 100%;
			height: auto;
		}

		.part-row {
			width: 100%;
			background: repeating-linear-gradient(180deg, var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 0), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 1), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 1), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 2),
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 2), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 3), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 3), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 4), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 4), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 5), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 5), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 6), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 6), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 7), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 7), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 8), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 8), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 9), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 9), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 10), 
														var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 10), var(--light-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 11), 
														var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 11), var(--medium-gray) calc(var(--border-size) + var(--pitch-height) * var(--pitch-height-modifier) * 12) 
													);
		}

		/* individual - left */
			.part-info {
				width: var(--left-column-size);
				height: calc(var(--pitch-height) * var(--pitch-count) * var(--pitch-height-modifier) + var(--medium-font-size) + 2 * var(--medium-gap-size) + 2 * var(--border-size));
				padding: var(--medium-gap-size) 0;
				border-top: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
				box-sizing: border-box;
				background: var(--dark-gray);
				vertical-align: top;
				transition: var(--transition-time);
				position: sticky;
				left: 0;
				z-index: 3;
			}

			.part-info-inner {
				position: sticky;
				top: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size) + var(--medium-gap-size));
			}

			.part-info-label {
				float: left;
				width: 100%;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				box-sizing: border-box;
				padding: 0;
			}

			.part-info-label span {
				float: left;
				display: inline-block;
				height: 100%;
				width: calc(2.5 * var(--medium-font-size));
				font-size: var(--small-font-size);
				color: var(--dark-gray);
				background: var(--medium-gray);
				border-radius: 0;
				text-align: center;
				text-transform: uppercase;
				box-sizing: border-box;
				padding: var(--medium-gap-size) 0;
				user-select: none;
			}

			/* edit */
				.part-info-edit-outer {
					width: 100%;
					padding: 0 var(--medium-gap-size);
					box-sizing: border-box;
				}

				.part-info-edit {
					min-width: 0 !important;
					height: 0 !important;
					width: 0 !important;
					font-size: 0 !important;
					margin: 0 !important;
					padding: 0 !important;
					opacity: 0 !important;
					border: 0 !important;
					outline: 0 !important;
					display: inline;
					-webkit-appearance: none;
				}

				.part-info-edit-outer div {
					width: 100%;
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					box-sizing: border-box;
					padding: var(--medium-gap-size) 0;
					background: var(--medium-gray);
					font-size: var(--medium-font-size);
					font-family: var(--font-0);
					color: var(--dark-gray);
					border-radius: var(--border-radius) 0 0 0;
					transition: var(--transition-time);
				}

				.part-info-edit-text {
					text-transform: uppercase;
					cursor: pointer;
				}

				.part-info-edit:checked ~ .part-info-edit-text {
					background: var(--medium-blue);
					color: var(--light-gray);
				}

				.part-info-edit:focus ~ .part-info-edit-text {
					box-shadow: 0 0 0 var(--border-size) var(--light-blue);
				}

				.part-info-editor {
					line-height: 1;
					cursor: not-allowed;
				}

				.part-info-editor:empty {
					display: none;
				}

				.part-info-editor:not(:empty) ~ .part-info-edit-text {
					display: none;
				}

			/* delete */
				.part-info-edit:not(:checked) ~ .part-info-edit-delete {
					pointer-events: none;
					height: 0;
					font-size: 0;
					box-shadow: none !important;
				}

				.part-info-edit-delete {
					user-select: none;
					float: left;
					width: 100%;
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					background: var(--medium-red);
					padding: 0;
					border-radius: 0;
				}

			/* other info */
				.part-info-edit:not(:checked) ~ .part-info-label {
					cursor: not-allowed !important;
				}

				.part-info-name {
					padding: 0 var(--medium-gap-size);
					font-size: var(--medium-font-size);
					width: calc(100% - 2.5 * var(--medium-font-size));
					border-radius: 0;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-name {
					background: var(--medium-gray);
					pointer-events: none;
				}

				.part-info-edit:not(:checked) ~ .part-info-label .part-info-name:focus, .part-info-edit:not(:checked) ~ .part-info-label .part-info-name:hover {
					filter: none;
					box-shadow: none !important;
					user-select: none;
				}

				.part-info-label-instrument {
					transition: var(--transition-time);
				}

				.part-info-instrument {
					font-size: var(--medium-font-size);
					width: calc(100% - 2.5 * var(--medium-font-size));
					text-align: center;
					border-radius: 0;
					text-transform: uppercase;
				}

				.part-info-edit:not(:checked) ~ .part-info-label-instrument {
					pointer-events: none;
					height: 0;
					overflow: hidden;
					font-size: 0;
					box-shadow: none !important;
				}

				.part-info-label-synth {
					transition: var(--transition-time);
				}

				.part-info-synth {
					font-size: var(--medium-font-size);
					width: calc(100% - 2.5 * var(--medium-font-size));
					text-align: center;
					border-radius: 0;
					text-transform: uppercase;
				}

				.part-info-edit:not(:checked) ~ .part-info-label-synth {
					pointer-events: none;
					height: 0;
					overflow: hidden;
					font-size: 0;
					box-shadow: none !important;
				}

			/* order */
				.part-info-order-label {
					float: left;
					width: 100%;
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					box-sizing: border-box;
					padding: 0 var(--medium-gap-size);
				}

				.part-info-order-label span {
					float: left;
					display: inline-block;
					height: 100%;
					width: calc(2.5 * var(--medium-font-size));
					font-size: var(--small-font-size);
					color: var(--dark-gray);
					background: var(--medium-gray);
					border-radius: 0;
					text-align: center;
					text-transform: uppercase;
					box-sizing: border-box;
					padding: var(--medium-gap-size) 0;
					user-select: none;
				}

				.part-info-order-up, .part-info-order-down {
					background-color: var(--medium-blue);
					width: calc((100% - (2.5 * var(--medium-font-size))) / 2);
					border-radius: 0;
				}

				.part-row:first-child .part-info-order-up {
					cursor: not-allowed;
					pointer-events: none !important;
					background: var(--medium-gray);
				}

				.part-row:nth-last-child(3) .part-info-order-down {
					cursor: not-allowed;
					pointer-events: none !important;
					background: var(--medium-gray);
				}

			/* panning */
				.part-info-panning-label {
					padding: 0 var(--medium-gap-size);
				}

				.part-info-panning-label span {
					font-size: var(--large-font-size);
					padding: 0;
					line-height: 1;
					box-sizing: border-box;
					font-weight: normal;
				}

				.part-info-panning {
					float: left;
					display: inline-block;
					margin: 0;
					padding: 0;
					width: calc(100% - 2.5 * var(--medium-font-size));
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					border-radius: 0;
					cursor: pointer;
				}

			/* volume */
				.part-info-volume-label {
					padding: 0 var(--medium-gap-size);
				}

				.part-info-volume-label span {
					font-size: var(--small-font-size);
					padding-top: var(--border-size);
					box-sizing: border-box;
					border-radius: 0 0 0 var(--border-radius);
				}

				.part-info-volume {
					float: left;
					display: inline-block;
					margin: 0;
					padding: 0;
					width: calc(100% - 2.5 * var(--medium-font-size));
					height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
					border-radius: 0;
					cursor: pointer;
				}

		/* individual - right */	
			.part-row:not([locked="self"]) .part-measure {
				cursor: not-allowed;
			}

			.part-row[locked="self"] {
				--pitch-height-modifier: 5;
			}

			.part-measure {
				height: calc(var(--pitch-height) * var(--pitch-count) * var(--pitch-height-modifier) + var(--medium-font-size) + 2 * var(--medium-gap-size) + 2 * var(--border-size));
				border-top: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
				box-sizing: border-box;
				transition: var(--transition-time);
				font-size: var(--small-font-size);
				color: white;
				vertical-align: top;
				padding: 0;
				scroll-margin-left: var(--left-column-size);
				scroll-margin-top: calc(3 * (var(--medium-font-size) + 2 * var(--medium-gap-size)) + var(--border-size));
			}

			.part-measure:last-child {
				border-right: var(--border-size) solid var(--dark-gray);
			}

			.part-measure-notes {
				float: left;
				position: relative;
				left: 0;
				top: 0;
				width: 100%;
				height: calc(var(--pitch-height) * var(--pitch-count) * var(--pitch-height-modifier));
				transition: var(--transition-time);
				vertical-align: top;
				background: repeating-linear-gradient(90deg, var(--dark-gray) 0, var(--dark-gray) var(--border-size),
															transparent var(--border-size), transparent calc(var(--tick-width) * 24)
														),
							repeating-linear-gradient(90deg, var(--light-gray) 0, var(--light-gray) var(--border-size),
															transparent var(--border-size), transparent calc(var(--tick-width) * 6)
														);
			}

			.part-row:not([locked="self"]) .part-measure-notes {
				pointer-events: none;
			}

			.part-measure-dynamics {
				float: left;
				width: 100%;
				border-radius: 0;
				height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
				padding: var(--medium-gap-size) var(--small-gap-size);
				text-align: left;
				text-transform: uppercase;
			}

			.part-row:not([locked="self"]) .part-measure-dynamics {
				background: var(--medium-gray);
				pointer-events: none;
			}

			.part-measure-dynamics[value-present="false"]:not(:focus) {
				color: transparent;
			}

			.part-measure-note {
				position: absolute;
				background: var(--dark-gray);
				width: calc(var(--tick-width) * 6);
				height: calc(var(--pitch-height) * var(--pitch-height-modifier));
				border-radius: var(--border-radius);
				cursor: grab;
				transition: var(--transition-time);
				overflow: hidden;
				user-select: none;
				padding: 0;
				font-size: 0;
				color: var(--dark-gray);
				z-index: 2;
			}

			button.part-measure-note:focus, button.part-measure-note:hover {
				box-shadow: none;
				filter: none;
				color: var(--light-gray) !important;
				text-shadow: 0 0 var(--border-size) var(--dark-gray) !important;
			}

			.part-measure-note[selected] {
				transition: 0s !important;
				cursor: grabbing;
				box-shadow: 0 0 0 var(--border-size) var(--light-blue) !important;
			}

			button.part-measure-note[playing] {
				background: var(--dark-gray) !important;
				box-shadow: 0 0 0 var(--border-size) var(--light-blue) !important;
			}

			.part-measure-note-text {
				float: left;
				width: calc(100% - var(--small-gap-size));
				height: 100%;
				padding: 0 0 0 calc(var(--pitch-height-modifier) * 1px);
				font-size: calc(var(--pitch-height) * var(--pitch-height-modifier));
				text-align: left;
				line-height: 1;
				box-sizing: border-box;
			}

			.part-measure-note-end {
				float: left;
				width: var(--small-gap-size);
				height: 100%;
				background: var(--dark-gray);
				opacity: 0.5;
				cursor: pointer;
			}

			.part-measure-note:focus, .part-measure-note:hover {
				box-shadow: 0 0 0 var(--border-size) var(--lightblue);
			}

		/* individual - after */
			.part-spacer {
				width: auto;
				background: var(--medium-gray);
				padding: 0;
				border-top: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
				transition: var(--transition-time);
			}

			#content-outer[playing] .part-spacer {
				width: calc(100vw - var(--left-column-size) - (var(--large-font-size) + 2 * var(--medium-gap-size)));
			}

			.part-after {
				width: calc(var(--medium-font-size) + 4 * var(--medium-gap-size));;
				background: var(--dark-gray);
				padding: 0;
				border-top: var(--border-size) solid var(--dark-gray);
				border-bottom: var(--border-size) solid var(--light-gray);
			}

		/* below */
			#content-parts-spacer {
				width: 100%;
				padding: 0;
				border-bottom: var(--border-size) solid var(--light-gray);
			}

			#content-parts-spacer th {
				width: 100%;
				height: 100%;
				position: sticky;
				left: 0;
				z-index: 3;
				background: var(--dark-gray);
			}

			#content-parts-add-row {
				width: 100%;
				height: calc(var(--medium-font-size) + 4 * var(--medium-gap-size));
				padding: 0;
			}

			#content-parts-add-outer {
				width: var(--left-column-size);
				padding: var(--medium-gap-size);
				background: var(--dark-gray);
				position: sticky;
				left: 0;
				z-index: 3;
			}

			#content-parts-add {
				height: 100%;
				width: 100%;
				background: var(--medium-blue);
				border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

/*** help ***/
	#help {
		z-index: 10;
		position: fixed;
		bottom: var(--medium-gap-size);
		right: var(--medium-gap-size);
		height: auto;
		width: auto;
	}

	/* button */
		#help-button {
			position: fixed;
			bottom: var(--medium-gap-size);
			right: var(--medium-gap-size);
			height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			border-radius: 100%;
			box-sizing: border-box;
			background: var(--medium-blue);
			color: var(--light-gray);
			text-align: center;
			font-family: var(--font-0);
			font-size: var(--medium-font-size);
			line-height: 1.5;
			padding: var(--small-gap-size);
			transition: var(--transition-time);
		}

		#help[open] #help-button {
			border-radius: 0 0 50% 50%;
			box-shadow: 0 0 0 var(--border-size) var(--light-blue);
			filter: brightness(var(--hover-brightness));
		}

	/* name */
		#help-name-outer {
			float: left;
			width: 100%;
			height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			box-sizing: border-box;
			margin-bottom: var(--large-gap-size);
		}

		#help-name-outer span {
			display: inline-block;
			width: calc(var(--medium-font-size) * 6);
			height: 100%;
			font-size: var(--medium-font-size);
			color: var(--dark-gray);
			background: var(--medium-gray);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			text-align: center;
			text-transform: uppercase;
			box-sizing: border-box;
			padding: var(--medium-gap-size) 0;
			user-select: none;

		}

		#help-name {
			width: calc(100% - var(--medium-font-size) * 6);
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

	/* content */
		#help-content {
			opacity: 0.95;
			position: fixed;
			bottom: calc(var(--medium-gap-size) * 3 + var(--medium-font-size));
			right: var(--medium-gap-size);
			height: calc(100vh - 4 * var(--medium-gap-size) - var(--medium-font-size));
			width: calc(2 * var(--left-column-size));
			max-width: calc(100vw - 2 * var(--medium-gap-size));
			background: var(--dark-gray);
			padding: var(--small-gap-size) var(--small-gap-size) var(--large-gap-size) var(--small-gap-size);
			box-sizing: border-box;
			box-shadow: 0 0 0 var(--border-size) var(--light-blue);
			border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
			filter: brightness(var(--hover-brightness));
			line-height: 1.2;
			font-family: var(--font-0);
			color: var(--light-gray);
			overflow-x: hidden;
			overflow-y: scroll;
		}

		#help-content div {
			text-align: center;
			font-size: var(--medium-font-size);
			margin: var(--large-gap-size) 0 var(--small-gap-size) 0;
		}

		#help-content div:first-child {
			margin-top: 0;
		}

		#help-content li {
			text-align: left;
			font-size: var(--small-font-size);
		}

		#help-content li::marker {
			content: " - ";
		}

		#help-content li a {
			font-size: var(--small-font-size);
		}

		.help-mobile {
			display: none;
		}

/*** mobile ***/
	@media screen and (max-width: 800px) { /* ??? */
		#header-file-title {
			min-width: calc(var(--medium-font-size) * 8);
			width: calc(100% - var(--medium-font-size) * 8 - var(--medium-gap-size));
		}

		#header-file-composer {
			width: calc(var(--medium-font-size) * 8);
		}

		#header-file-download {
			display: none;
		}

		#header-file-upload-synth-outer {
			display: none;
		}

		#content-measures-position-current {
			width: calc(100% - var(--medium-font-size) * 3)
		}

		#content-measures-position-slash {
			margin-left: 0;
			background: var(--light-gray);
			opacity: 1 !important;
		}

		#content-measures-tempo-multiplier {
			width: calc(100% - var(--medium-font-size) * 3.5 - var(--medium-font-size) * 2);
		}

		#content-measures-tempo-multiplier-x {
			margin-left: 0;
			background: var(--light-gray);
			opacity: 1 !important;
		}

		.help-desktop {
			display: none;
		}

		.help-mobile {
			display: block;
		}
	}
